*{box-sizing: border-box;}


body{
    background-color: #3D3D3D;
    background-image: url(image/newrr.jpeg);
    /* height: 100vh; */
    background-size: cover;
}
.header {
    background-color: #262626;
}

.header-img {
    height: 90px;
    width: 20%;
}

.page-text {
    color: #E3242B;
}

.bottom-text {
    color: #E3242B;
}

/* .btn {
    background: black;
    color:#E3242B;
    border: 2px solid #E3242B;
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 0px 0px 5px #E3242B;
    box-shadow: 0px 0px 10px #E3242B;
  }
  .btn:hover {
    box-shadow: 0px 0px 20px #E3242B;
  }
   */
  
.card{
    width: 300px;
    
    margin: 20px;
    border-radius: 0px;
    box-shadow: 0px 4px 6px #000;
}

.card-footer {
    background-color: white;
}

.icons {
    color: red;
}

.page-text:hover{
    color: white;
}

.figure-img {
    height: 300px;
}

.move-footer {
    padding: 50px;
}

/* .footer-text {
    color: red;
} */

.slide-img{
    height: 40vh;
    object-fit:cover;
}
.icon {
    position: absolute;
    height: 100%;
}


#section1{
    background-color: red;
}

#contactfooter{
    height: 1000%;
    background-color: #1B1B1B;
}

.ticket-button {
    background: linear-gradient(135deg, #ffcc00, #ff6600);
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 40px;
    border: none;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
}
.ticket-button::before,
.ticket-button::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.ticket-button::before {
    left: -10px;}

.ticket-button::after {
    right: -10px;
}
.ticket-button:hover {
    background: linear-gradient(135deg, #ff9900, #ff3300);
    transform: scale(1.05);
}

.happy {
    background: white;
    padding: 20px;
    height: vh;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.sign-in {
    width: 100%;
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.sign-in:hover {
    background: darkblue;
}
