*{box-sizing: border-box;}


body{
    background-color: #3D3D3D;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.header {
    background-color: #262626;
}

.header-img {
    height: 90px;
    width: 20%;
}

.page-text {
    color: #E3242B;
}

.card{
    width: 300px;
    
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px #000;
}

/* .icons {
    color: red;
} */

/* .footer-text {
    color: red;
} */

.slide-img{
    height: 40vh;
    object-fit:cover;
}
.icon {
    position: absolute;
    height: 100%;
}


#section1{
    background-color: red;
}

#contactfooter{
    height: 1000%;
    background-color: #1B1B1B;
}